#islerim_baslik{

width: 950px;
height:50px;
padding-left: 50px;



}
#basvuru_icerik{


    width: 1000px;
    height: 100px;
    margin-top: 70px;

  
}
table{

    margin-left: 250px;
}
tr{

    text-align: center;
}